section.sert#sert
  h2._title.title Мои сертификаты
  .owl.owl-carousel.owl-theme(data-glide-el="track")
    a.sert__a(href="img/bx4.png" target="_blank")
      img.sert__img(src="img/bx4.png")
    a.sert__a(href="img/bx1.png" target="_blank")
      img.sert__img(src="img/bx1.png")
    a.sert__a(href="img/python.png" target="_blank")
      img.sert__img(src="img/python.png")
    a.sert__a(href="img/bx3.jpg" target="_blank")
      img.sert__img(src="img/bx3.jpg")
    a.sert__a(href="img/bx2.png" target="_blank")
      img.sert__img(src="img/bx2.png")

